# API
PORT=

# DB
DATABASE_HOST=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_PORT=


#for minio
MINIO_USER=
MINIO_PASSWORD=
MINIO_ENDPOINT=
MINIO_USE_SSL=
MINIO_BUCKET=
MINIO_CONSOLE_PORT=
MINIO_PORT=

#for pgadmin
PG_EMAIL=
PG_PASSWORD=
